version: '3.9'

services:
  postgres:
    image: ankane/pgvector
    restart: unless-stopped
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pwd
      POSTGRES_DB: postgres

volumes:
  postgres_data: